<div class="flex flex-col gap-3 sm:gap-4">
  <app-data-table 
    title="All Expenses"
    description="A record of all business expenses."
    [columns]="columns" 
    [data]="expenses()"
    [isLoading]="isLoading()"
    [initialSearchQuery]="initialQuery()"
    [emptyStateConfig]="emptyStateConfig"
    (emptyStateAction)="handleEmptyStateAction()"
    context="expense"
    (rowAction)="handleRowAction($event)"
    (bulkAction)="handleBulkAction($event)">
    <button table-tools (click)="openAddNewExpenseDrawer()" class="aurora-button-primary inline-flex items-center justify-center gap-2 font-bold text-white px-4 py-2 rounded-xl transition-all duration-150 ease-in-out">
      <i class="fa-solid fa-plus"></i>
      <span>Add New Expense</span>
    </button>
  </app-data-table>
</div>