<div class="flex flex-col gap-3 sm:gap-4">
  <app-data-table 
    title="All Purchase Orders"
    description="Manage orders placed with your suppliers."
    [columns]="columns" 
    [data]="purchaseOrders()"
    context="purchase-order"
    [disableQuickPeek]="true"
    (rowClicked)="previewedPO.set($event)"
    (rowAction)="handleRowAction($event)"
    (bulkAction)="handleBulkAction($event)">
     <button table-tools (click)="openAddNewDrawer()" class="aurora-button-primary inline-flex items-center justify-center gap-2 font-bold text-white px-4 py-2 rounded-xl transition-all duration-150 ease-in-out">
      <i class="fa-solid fa-plus"></i>
      <span>New Purchase Order</span>
    </button>
  </app-data-table>
</div>

@if(previewedPO(); as po) {
  <app-document-preview-modal
    [data]="po"
    (close)="previewedPO.set(null)"
    (edit)="editPurchaseOrder($event)">
  </app-document-preview-modal>
}

@if (isConversionModalOpen() && selectedPoForConversion(); as po) {
  <app-po-to-stock-modal
    [purchaseOrder]="po"
    (close)="closeConversionModal()"
    (confirm)="handleConfirmConversion($event)">
  </app-po-to-stock-modal>
}